<!-- <table *ngFor="let musiclist of records.labelRecords  | groupBy:'labelName'">
  <tbody>
    <br>
    <span><b>RecordLabel:</b></span>
    <br>
    <tr>
      <td>{{musiclist.key}}</td>
    </tr>

    <b>Bands:</b>
    <br>
    <tr *ngFor="let bands of musiclist.value">
      <span>
        <td>{{bands.band}}</td>
      </span>
      <br>
    </tr>


    <b>Festivals:</b>
    <br>
    <tr *ngFor="let bands of musiclist.value">
      <span>
        <td>{{bands.festival}}</td>
      </span>
      <br>
    </tr>

  </tbody>
</table> -->




<!-- <table>
    <u>Records Label:
        <u>
            <li  *ngFor="let musiclist of records.labelRecords  | groupBy:'labelName'">
                <ul>
                    <li>{{musiclist.key}}</li>

                </ul>
            </u>
            <li>Vegetables
                <ul>
                    <li>Carrots</li>
                </ul>
            </li>
        </u>
      </u>
</table> -->

<!-- <ul>
  <li><span><b>Records Label</b></span></li>
  <ul>
    <li *ngFor="let musiclist of records.labelRecords  | groupBy:'labelName'">
      {{musiclist.key}}
    </li>
    <li><span><b>Bands:</b></span></li>
    <ul>
      <li *ngFor="let bands of musiclist.value>
      </ul> -->
 <!-- <ul>
  <li *ngFor="let musiclist of records.labelRecords  | groupBy:'labelName'| orderBy: 'labelName'">
    <ul>
      <span>
        <li><b>Records Label:</b></li>
      </span>
      <li>
        {{musiclist.key}}
      </li>
      <li><span><b>Bands:</b></span></li>
      <ul *ngFor="let bands of musiclist.value">
        <li>
          {{bands.band}}
        </li>
        <li><span><b>Festivals:</b></span></li>
        <ul *ngFor="let bands of musiclist.value">
          <li>
            {{bands.festival}}
          </li>
        </ul>
      </ul>
    </ul>
</ul> -->



<!-- <ul>
    <li><span><b>Records Label:</b></span></li>
    <ul *ngFor="let musiclist of records.labelRecords  | groupBy:'labelName'">
      <li>
        {{musiclist.key}}
      </li>
        <li><span><b>Bands:</b></span></li>
        <ul *ngFor="let bands of musiclist.value">
          <li>
            {{bands.band}}
          </li>
          <li><span><b>Festivals:</b></span></li>
          <ul *ngFor="let bands of musiclist.value">
            <li>
              {{bands.festival}}
            </li>
          </ul>
        </ul>
      </ul>
  </ul> -->



 <ul>

  <ul *ngFor="let musiclist of records.labelRecords  | groupBy:'labelName'">
      <li><span><b>Records Label: {{musiclist.key}}</b></span></li>
    <li><span><b>Bands:</b></span>
      <ul>
        <li *ngFor="let bands of musiclist.value | orderBy" >
          {{bands.band}}
        </li>
      </ul>
    </li>

        <li><span><b>Festivals:</b></span>
          <ul *ngFor="let festivals of musiclist.value ">
            <li>
              {{festivals.festival}}
            </li>
          </ul>
        </li>
        <u>---------------</u>
</ul>
<router-outlet></router-outlet>
