 <ul>
  <ul *ngFor="let musiclist of records.labelRecords  | groupBy:'labelName'">
      <li><span><b>Records Label: {{musiclist.key}}</b></span></li>
    <li><span><b>Bands:</b></span>
      <ul>
        <li *ngFor="let bands of musiclist.value | orderBy" >
          {{bands.band}}
        </li>
      </ul>
    </li>
        <li><span><b>Festivals:</b></span>
          <ul *ngFor="let festivals of musiclist.value ">
            <li>
              {{festivals.festival}}
            </li>
          </ul>
        </li>
        <br>
</ul>
<router-outlet></router-outlet>
